.container {
  display: grid;
  background-color: azure;
  height: 900px;
  grid-template-columns: 100px 100px 1fr;
  grid-template-rows: repeat(auto-fill, 100px 100px 200px);
  /* grid-template-rows: 100px 100px auto-fill; */
  gap: 10px 5px; /* rows columns */
}
.gird-item {
  border: 1px solid #999;
}
